/* color palette from <https://github.com/vuejs/theme> */
:root {
  --colorBlanco: #fff;
  --colorNegro: #000;
  --colorRojo: #ff0000;
  --colorVerde: #059b00;
  --colorFondo: #234c80;
  --colorSvg: #fff;
  --colorFondoTarjeta: #263d59;
  --colorFondoTarjetaSelecionado: #4c6c85;
  --colorTextoTarjeta: #c0c9d8;
  --colorFondoCiudadano: #6e87a1;
  --colorFondoCiudadano2: #546b86;
  --colorBotonBusquedaCiudadano: #275799;
  --colorBotonBusquedaCiudadanoActivo: #006aff;
  --colorBusquedaCiudadanoBusqueda: #2d3a48;
  --colorBusquedaCiudadanoTarjeta: #3e4c63;
  --colorBusquedaCiudadanoPerfilBoton: #1d5485;
  --colorBusquedaCiudadanoPerfilOtrosTarjeta: rgb(78, 88, 102, 0.5);
  --colorBusquedaCiudadanoPerfilOtrosMultaPagada: rgba(29, 130, 39, 0.5);
  --colorFondoPantallaModal: rgba(0, 0, 0, 0.5);
  --colorFondoModal: #242424;
  --colorTituloModal: #3d8cf0;
  --colorFondoTablaModal: #474747;
  --colorTarjetaModal: #626262;
  --colorTarjetaPoliciaRango: #4f83aa;
  --colorTarjetaBusqueda: #b0b6be;
  --colorTituloTarjetaPoliciaRango: #141a22;
  --colorMensajeErrorFondo: #ffebe6;
  --colorPermisos: #ccc;
}

@tailwind base;
@tailwind components;
@tailwind utilities;