/* color palette from <https://github.com/vuejs/theme> */
:root {
  --colorFondo: #234c80;
  --colorSvg: #fff;
  --colorFondoTarjeta: #263d59;
  --colorFondoTarjetaSelecionado: #4c6c85;
  --colorTextoTarjeta: #c0c9d8;
}
